html {
  box-sizing: border-box;
}

*,
*::before. *::after {
  box-sizing: inherit;
}

/* ************ 
BASE STYLES
*************/

header {
  /* background:linear-gradient(darkred,red); */
  color: white;
  font-size: 20px;
}

a:link {
  color: white;
  opacity: 0.5px;
}

img {
  max-width: 100%;
  height: auto;
}
a:hover{
  color:goldenrod ;
}
body {
  color: #000;
  font-size: 40px;
  font-family: sans-serif;
  background-image: url("water2.jpg");
  background-repeat: no-repeat;
  background-position:center;
}

ul {
  text-align: center;
  padding: 10px;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

.push {
  padding: 30px;
  border-radius: 12px;
  font-size: 30px;
}

.page {}

footer {
  background: gray;
  text-align: center;
}

.logo{
  width:200px;
  height:200px;
}

.error_message{
color:red;
padding:12px;

}

/* *********** */

/* tablet styles */

@media (min-width:768px) {
  body {
    background-color: green;
  }
}

/* desktop styles */

@media(min-width:1000px) {
  body {
    background: purple;
  }
}